.calculator {
  width: 90vw;
  min-width: fit-content;
  max-width: 500px;
  height: fit-content;
  border: 1px solid #555;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-top: 0;
  overflow: hidden;
}

@media (max-height: 900px) {
  .calculator {
    margin: 20px auto;
  }
}

@media (min-height: 500px) {
  .calculator {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 500px) {
  .calculator {
    top: 55%;
  }
}

/* For tablets */
@media (min-height: 1000px) and (min-width: 768px) {
  .calculator {
    max-width: 900px;
  }
}

